body{
    padding-top: 3rem;
    padding-bottom: 3rem;
    background-image: url('../img/bg.jpeg');
    background-repeat: repeat;   
}

.bg-lightBlue{
    background-color: rgb(149, 225, 250);
}

.badge {
    line-height: inherit;
}

code{
    color: #0B51BA;
}
.item-header{
    box-sizing: border-box;
    width: 100% !important;
    opacity: 1;
    background-image: url('../img/freezeFood.jpg');
}